media only screen and (min-width:751px)
{
	.mob_menu,.mob_menu_left_panel,
			.mob_menu_right_panel,.mobmenu
	{
		display: none!important;
	}
}
@media only screen and (max-width:751px)
{
	.main-navigation
	{
		display: none!important;
	}
	.mob-menu-logo-holder
	{
		display: none;
	}
	.mob-menu-left-panel .mobmenu-left-bt,.mob-menu-right-panel .mobmenu-right-bt
	{
		font-size: 30px;
		position: absolute;
		right: 0;
		top: 10px;
	}
	.mob-menu-slideout .mob-cancel-button
	{
		display: none;
	}
	.mobmenu,.mob-menu-left-panel,.mob-menu-right-panel
	{
		display: block;
	}
	.mobmenur-container i
	{
		color: #222;
	}
	.mobmenul-container i
	{
		color: #222;
	}
	.mobmenul-container img
	{
		float: left;
		max-height: 40px;
	}
	.mobmenur-container img
	{
		float: right;
		max-height: 40px;
	}
	#mobmenuleft li a,#mobmenuleft li a:visited
	{
		color: #222;
	}
	.mobmenu_content h2,.mobmenu_content h3,.show-nav-left .mob-menu-copyright,.show-nav-left .mob-expand-submenu i
	{
		color: #222;
	}
	.mobmenu_content #mobmenuleft li:hover,.mobmenu_content #mobmenuright li:hover
	{
		background-color: #a3d3e8;
	}
	.mobmenu_content #mobmenuright li:hover
	{
		background-color: #a3d3e8;
	}
	.mobmenu_content #mobmenuleft .sub-menu
	{
		background-color: #eff1f1;
		color: #222;
		margin: 0;
		position: initial;
		width: 100%;
	}
	.mob-menu-left-panel .mob-cancel-button
	{
		color: #000;
	}
	.mob-menu-right-panel .mob-cancel-button
	{
		color: #000;
	}
	.mob-menu-slideout-over .mobmenu_content
	{
		padding-top: 40px;
	}
	.mob-menu-left-bg-holder
	{
		background: url('../img/Concrete_background.jpeg.pagespeed.ce.u7G7nIs7RK.jpg');
		background-attachment: fixed;
		background-position: center top;
		background-size: cover;
		moz-background-size: cover;
		opacity: 1;
		webkit-background-size: cover;
	}
	.mob-menu-right-bg-holder
	{
		background-attachment: fixed;
		background-position: center top;
		background-size: cover;
		moz-background-size: cover;
		opacity: 1;
		webkit-background-size: cover;
	}
	.mobmenu_content #mobmenuleft .sub-menu a
	{
		color: #222;
	}
	.mobmenu_content #mobmenuright .sub-menu a
	{
		color: #222;
	}
	.mobmenu_content #mobmenuright .sub-menu .sub-menu
	{
		background-color: inherit;
	}
	.mobmenu_content #mobmenuright .sub-menu
	{
		background-color: #eff1f1;
		color: #222;
		margin: 0;
		position: initial;
		width: 100%;
	}
	#mobmenuleft li a:hover
	{
		color: #fff;
	}
	#mobmenuright li a,#mobmenuright li a:visited,.show-nav-right .mob-menu-copyright,.show-nav-right .mob-expand-submenu i
	{
		color: #222;
	}
	#mobmenuright li a:hover
	{
		color: #fff;
	}
	.mobmenul-container
	{
		margin-left: 5px;
		top: 5px;
	}
	.mobmenur-container
	{
		margin-right: 5px;
		top: 5px;
	}
	.mobmenu .sub-menu li a
	{
		padding-left: 50px;
	}
	.mobmenu .sub-menu .sub-menu li a
	{
		padding-left: 75px;
	}
	.mob-menu-logo-holder
	{
		padding-top: 0;
		text-align: center;
	}
	.mob-menu-header-holder
	{
		background-color: transparent;
		color: #000;
		display: block;
		font-weight: bold;
		height: 40px;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 99998;
	}
	.mobmenu-push-wrap
	{
		padding-top: 0;
	}
	.mob-menu-slideout .mob-menu-left-panel
	{
		background-color: #efefef;
		moz-transform: translateX(-270px);
		ms-transform: translateX(-270px);
		o-transform: translateX(-270px);
		transform: translateX(-270px);
		webkit-transform: translateX(-270px);
		width: 270px;
	}
	.mob-menu-slideout .mob-menu-right-panel
	{
		background-color: #f9f9f9;
		moz-transform: translateX(270px);
		ms-transform: translateX(270px);
		o-transform: translateX(270px);
		transform: translateX(270px);
		webkit-transform: translateX(270px);
		width: 270px;
	}
	.mob-menu-slideout.show-nav-left .mobmenu-push-wrap,.mob-menu-slideout.show-nav-left .mob-menu-header-holder
	{
		moz-transform: translate(270px,0);
		moz-transform: translate3d(270px,0,0);
		ms-transform: translate(270px,0);
		ms-transform: translate3d(270px,0,0);
		o-transform: translate(270px,0);
		o-transform: translate3d(270px,0,0);
		transform: translate(270px,0);
		transform: translate3d(270px,0,0);
		webkit-transform: translate(270px,0);
		webkit-transform: translate3d(270px,0,0);
	}
	.mob-menu-slideout.show-nav-right .mobmenu-push-wrap,.mob-menu-slideout.show-nav-right .mob-menu-header-holder
	{
		moz-transform: translate(-270px,0);
		moz-transform: translate3d(-270px,0,0);
		ms-transform: translate(-270px,0);
		ms-transform: translate3d(-270px,0,0);
		o-transform: translate(-270px,0);
		o-transform: translate3d(-270px,0,0);
		transform: translate(-270px,0);
		transform: translate3d(-270px,0,0);
		webkit-transform: translate(-270px,0);
		webkit-transform: translate3d(-270px,0,0);
	}
	.mobmenu-overlay
	{
		opacity: 0;
	}
	.mob-menu-slideout-top .mobmenu-overlay,.mob-menu-slideout .mob-menu-right-panel .mob-cancel-button,.mob-menu-slideout .mob-menu-left-panel .mob-cancel-button
	{
		display: none!important;
	}
	.show-nav-left .mobmenu-overlay,.show-nav-right .mobmenu-overlay
	{
		background: rgba(0,0,0,.73);
		cursor: pointer;
		height: 100%;
		left: 0;
		moz-transition: .5s ease;
		ms-transition: .5s ease;
		opacity: 1;
		o-transition: .5s ease;
		position: absolute;
		position: fixed;
		top: 0;
		transition: .5s ease;
		webkit-transition: .5s ease;
		width: 100%;
		z-index: 99999;
	}
	.mob-menu-slideout-over .mob-menu-left-panel
	{
		background-color: #efefef;
		display: block!important;
		moz-transform: translateX(-270px);
		moz-transition: -moz-transform .5s;
		ms-transform: translateX(-270px);
		ms-transition: -ms-transform .5s;
		o-transform: translateX(-270px);
		o-transition: -o-transform .5s;
		transform: translateX(-270px);
		transition: transform .5s;
		webkit-transform: translateX(-270px);
		webkit-transition: -webkit-transform .5s;
		width: 270px;
	}
	.mob-menu-slideout-over .mob-menu-right-panel
	{
		background-color: #f9f9f9;
		display: block!important;
		moz-transform: translateX(270px);
		moz-transition: -moz-transform .5s;
		ms-transform: translateX(270px);
		ms-transition: -ms-transform .5s;
		o-transform: translateX(270px);
		o-transition: -o-transform .5s;
		transform: translateX(270px);
		transition: transform .5s;
		webkit-transform: translateX(270px);
		webkit-transition: -webkit-transform .5s;
		width: 270px;
	}
	.mob-menu-slideout-over.show-nav-left .mob-menu-left-panel
	{
		background-color: #efefef;
		display: block!important;
		moz-transform: translateX(0);
		moz-transition: -moz-transform .5s;
		ms-transform: translateX(0);
		ms-transition: -ms-transform .5s;
		o-transform: translateX(0);
		o-transition: -o-transform .5s;
		transform: translateX(0);
		transition: transform .5s;
		webkit-transform: translateX(0);
		webkit-transition: -webkit-transform .5s;
		width: 270px;
	}
	.show-nav-right.mob-menu-slideout-over .mob-menu-right-panel
	{
		background-color: #f9f9f9;
		display: block!important;
		moz-transform: translateX(0);
		ms-transform: translateX(0);
		o-transform: translateX(0);
		transform: translateX(0);
		webkit-transform: translateX(0);
		width: 270px;
	}
	.mob-menu-slideout .mob-menu-left-panel,.mob-menu-slideout-over .mob-menu-left-panel
	{
		height: 100%;
		opacity: 1;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		top: 0;
		z-index: 300000;
	}
	.mob-menu-slideout .mob-menu-right-panel,.mob-menu-slideout-over .mob-menu-right-panel
	{
		height: 100%;
		opacity: 1;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 300000;
	}
	.mobmenu .headertext
	{
		color: #222;
	}
	.headertext span
	{
		line-height: 40px;
		position: initial;
	}
	.mob-menu-slideout .mobmenu-push-wrap,.mob-menu-slideout .mob-menu-header-holder
	{
		moz-transform: translate(0,0);
		moz-transform: translate3d(0,0,0);
		moz-transition: -moz-transform .5s;
		ms-transform: translate(0,0);
		ms-transform: translate3d(0,0,0);
		ms-transition: -ms-transform .5s;
		o-transform: translate(0,0);
		o-transform: translate3d(0,0,0);
		o-transition: -o-transform .5s;
		transform: translate(0,0);
		transform: translate3d(0,0,0);
		transition: transform .5s;
		webkit-transform: translate(0,0);
		webkit-transform: translate3d(0,0,0);
		webkit-transition: -webkit-transform .5s;
	}
	html,body
	{
		overflow-x: hidden;
	}
	.hidden-overflow
	{
		overflow: hidden!important;
	}
	.mob-menu-slideout .mob-menu-left-panel
	{
		height: 100%;
		moz-transition: -moz-transform .5s;
		ms-transition: -ms-transform .5s;
		opacity: 1;
		o-transition: -o-transform .5s;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		top: 0;
		transition: transform .5s;
		webkit-transition: -webkit-transform .5s;
		z-index: 300000;
	}
	.mob-menu-slideout.show-nav-left .mob-menu-left-panel
	{
		moz-transform: translateX(0);
		ms-transform: translateX(0);
		o-transform: translateX(0);
		transform: translateX(0);
		transition: transform .5s;
		webkit-transform: translateX(0);
	}
	body.admin-bar .mobmenu
	{
		top: 32px;
	}
	@media screen and ( max-width: 782px )
	{
		body.admin-bar .mobmenu
		{
			top: 46px;
		}
	}
	.mob-menu-slideout .mob-menu-right-panel
	{
		height: 100%;
		moz-transition: -moz-transform .5s;
		ms-transition: -ms-transform .5s;
		opacity: 1;
		o-transition: -o-transform .5s;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		transition: transform .5s;
		webkit-transition: -webkit-transform .5s;
		z-index: 300000;
	}
	.mob-menu-slideout.show-nav-right .mob-menu-right-panel
	{
		moz-transform: translateX(0);
		ms-transform: translateX(0);
		o-transform: translateX(0);
		transform: translateX(0);
		transition: transform .5s;
		webkit-transform: translateX(0);
	}
	.show-nav-left .mobmenu-push-wrap
	{
		height: 100%;
	}
	.mob-menu-slideout.show-nav-left .mobmenu-push-wrap,.show-nav-left .mob-menu-header-holder
	{
		moz-transition: -moz-transform .5s;
		ms-transition: -ms-transform .5s;
		o-transition: -o-transform .5s;
		transition: transform .5s;
		webkit-transition: -webkit-transform .5s;
	}
	.show-nav-right .mobmenu-push-wrap
	{
		height: 100%;
	}
	.mob-menu-slideout.show-nav-right .mobmenu-push-wrap,.mob-menu-slideout.show-nav-right .mob-menu-header-holder
	{
		moz-transition: -moz-transform .5s;
		ms-transition: -ms-transform .5s;
		o-transition: -o-transform .5s;
		transition: transform .5s;
		webkit-transition: -webkit-transform .5s;
	}
	.widget img
	{
		max-width: 100%;
	}
	#mobmenuleft,#mobmenuright
	{
		margin: 0;
		padding: 0;
	}
	#mobmenuleft li>ul
	{
		display: none;
		left: 15px;
	}
	.mob-expand-submenu
	{
		float: right;
		margin-top: -50px;
		position: relative;
		right: 0;
	}
	.mob-expand-submenu i
	{
		padding: 12px;
	}
	#mobmenuright li>ul
	{
		display: none;
		left: 15px;
	}
	.rightmbottom,.rightmtop
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	.mobmenu_content
	{
		height: 100%;
		overflow: auto;
		z-index: 1;
	}
	.mobmenu_content li a
	{
		display: block;
		font-family: "Open Sans";
		font-size: 14px;
		letter-spacing: 1px;
		padding: 10px 20px;
		text-decoration: none;
	}
	.mobmenu_content li
	{
		list-style: none;
	}
	.mob-menu-left-panel li,.leftmbottom,.leftmtop
	{
		padding-left: 0%;
		padding-right: 0%;
	}
	.mob-menu-right-panel li,.rightmbottom,.rightmtop
	{
		padding-left: 0%;
		padding-right: 0%;
	}
	.mob-menu-slideout .mob_menu_left_panel_anim
	{
		ms-transform: translate(0)!important;
		transform: translate(0)!important;
		transition: all .30s ease-in-out!important;
		webkit-transform: translate(0)!important;
		webkit-transition: all .30s ease-in-out!important;
	}
	.mob-menu-slideout .mob_menu_right_panel_anim
	{
		ms-transform: translate(0)!important;
		transform: translate(0)!important;
		transition: all .30s ease-in-out!important;
		webkit-transform: translate(0)!important;
		webkit-transition: all .30s ease-in-out!important;
	}
	.mobmenul-container
	{
		position: absolute;
	}
	.mobmenur-container
	{
		position: absolute;
		right: 0;
	}
	.mob-menu-slideout .mob_menu_left_panel
	{
		height: 100%;
		left: 0;
		ms-transform: translate(-230px);
		overflow: hidden;
		position: fixed;
		top: 0;
		transform: translate(-230px);
		transition: all .30s ease-in-out!important;
		webkit-transform: translate(-230px);
		webkit-transition: all .30s ease-in-out!important;
		width: 230px;
		z-index: 99999999;
	}
	.leftmbottom h2
	{
		background-color: transparent;
		color: inherit;
		font-weight: bold;
	}
	.show-nav-right .mobmenur-container img,.show-nav-left .mobmenul-container img,.mobmenu .mob-cancel-button,.show-nav-left .mobmenu .mob-menu-icon,.show-nav-right .mobmenu .mob-menu-icon,.mob-menu-slideout-over.show-nav-left .mobmenur-container,.mob-menu-slideout-over.show-nav-right .mobmenul-container
	{
		display: none;
	}
	.show-nav-left .mobmenu .mob-cancel-button,.mobmenu .mob-menu-icon,.show-nav-right .mobmenu .mob-cancel-button
	{
		display: block;
	}
	.mobmenul-container i
	{
		float: left;
		font-size: 35px;
		line-height: 35px;
	}
	.left-menu-icon-text
	{
		color: #222;
		float: left;
		line-height: 35px;
	}
	.right-menu-icon-text
	{
		color: #222;
		float: right;
		line-height: 35px;
	}
	.mobmenur-container i
	{
		float: right;
		font-size: 35px;
		line-height: 35px;
	}
	.mobmenu_content .widget
	{
		padding: 20px;
		padding-bottom: 0;
	}
	.mobmenu input[type="text"]:focus,.mobmenu input[type="email"]:focus,.mobmenu textarea:focus,.mobmenu input[type="tel"]:focus,.mobmenu input[type="number"]:focus
	{
		border-color: rgba(0,0,0,0)!important;
	}
	.mob-expand-submenu i
	{
		cursor: pointer;
		font-weight: 600;
		padding: 12px;
		position: relative;
		top: 10px;
	}
	.nav,.main-navigation,.genesis-nav-menu,.hide
	{
		display: none!important;
	}
	.mob-menu-left-bg-holder,.mob-menu-right-bg-holder
	{
		background-repeat: no-repeat;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -50;
	}
	.mobmenu_content .sub-menu
	{
		display: none;
	}
	.mob-standard-logo
	{
		display: inline-block;
		height: 40px;
	}
	.mob-retina-logo
	{
		height: 40px;
	}
}
.mobmenu-push-wrap
{
	height: 100%;
}
.no-menu-assigned
{
	font-size: 12px;
	margin-top: 20px;
	padding-left: 10px;
	position: absolute;
}