{% load static %}


	<script type="text/javascript">
		function wpfront_scroll_top_init() {
				if (typeof wpfront_scroll_top == "function" && typeof jQuery !== "undefined") {
					wpfront_scroll_top({
						"scroll_offset": 400,
						"button_width": 0,
						"button_height": 0,
						"button_opacity": 0.8,
						"button_fade_duration": 200,
						"scroll_duration": 400,
						"location": 1,
						"marginX": 20,
						"marginY": 20,
						"hide_iframe": false,
						"auto_hide": false,
						"auto_hide_after": 2,
						"button_action": "top",
						"button_action_element_selector": "",
						"button_action_container_selector": "html, body",
						"button_action_element_offset": 0
					});
				} else {
					setTimeout(wpfront_scroll_top_init, 100);
				}
			}
			wpfront_scroll_top_init();
	</script>


	<script type='text/javascript' src="{% static 'js/devicepx-jetpack.js' %}"></script>

	<script src="{% static 'js/wpfront-scroll-top.js' %}"></script>
	<script>eval(mod_pagespeed_2fHhcHcPRg);</script>

	<script>eval(mod_pagespeed_1Iq7PBwwm$);</script>
	<script>eval(mod_pagespeed_tCneOvpcqF);</script>
	<script>eval(mod_pagespeed_wJN_ts1n17);</script>
	<script>eval(mod_pagespeed_rMmVRntGtu);</script>
	<script>eval(mod_pagespeed_lCqmE6slai);</script>
	<script>eval(mod_pagespeed_LFHbwv$kHT);</script>
	<script>eval(mod_pagespeed_YuOv17FdqL);</script>
	<script>eval(mod_pagespeed_VilBP0YxSc);</script>
	
	<script type='text/javascript' src="{% static 'js/jquery.fitvids.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/nivo-lightbox.min.js' %}"></script>
	
	<script>eval(mod_pagespeed_Mh5$RwNWQD);</script>
	<script>eval(mod_pagespeed_8qgpUgRrer);</script>
	<script>eval(mod_pagespeed_DAqHivbFBG);</script>
	
	<script type='text/javascript'>
		var jpfbembed={"appid":"249643311490","locale":"ru_RU"};
	</script>
	
	<script type='text/javascript' src="{% static 'js/wp-embed.min.js' %}"></script>
	
	<script>eval(mod_pagespeed_bLI$rXsMt3);</script>
	<script>eval(mod_pagespeed_pHibJvqcla);</script>
	<script>eval(mod_pagespeed_ds7RGCxNBl);</script>
	<script>eval(mod_pagespeed_WPRrB_sL2C);</script>
	
	<script type='text/javascript'>
		var jetpackCarouselStrings = {
			"widths": [370, 700, 1000, 1200, 1400, 2000],
			"is_logged_in": "",
			"lang": "ru",
			"ajaxurl": "http:\/\/www.profibeton.com.ua\/wp-admin\/admin-ajax.php",
			"nonce": "b3f2f3e95b",
			"display_exif": "1",
			"display_geo": "1",
			"single_image_gallery": "1",
			"single_image_gallery_media_file": "",
			"background_color": "white",
			"comment": "\u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
			"post_comment": "\u041e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
			"write_comment": "\u041e\u043f\u0443\u0431\u043b\u0438\u043a\u043e\u0432\u0430\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439...",
			"loading_comments": "\u0417\u0430\u0433\u0440\u0443\u0436\u0430\u044e\u0442\u0441\u044f \u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438... ",
			"download_original": "\u041f\u043e\u0441\u043c\u043e\u0442\u0440\u0435\u0442\u044c \u0432 \u043f\u043e\u043b\u043d\u043e\u043c \u0440\u0430\u0437\u043c\u0435\u0440\u0435 <span class=\"photo-size\">{0}<span class=\"photo-size-times\">\u00d7<\/span>{1}<\/span>",
			"no_comment_text": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430, \u043d\u0430\u043f\u0438\u0448\u0438\u0442\u0435 \u0442\u0435\u043a\u0441\u0442 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u044f.",
			"no_comment_email": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430, \u0443\u043a\u0430\u0436\u0438\u0442\u0435 \u0430\u0434\u0440\u0435\u0441 \u044d\u043b. \u043f\u043e\u0447\u0442\u044b, \u0447\u0442\u043e\u0431\u044b \u043e\u0441\u0442\u0430\u0432\u0438\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439.",
			"no_comment_author": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430, \u0443\u043a\u0430\u0436\u0438\u0442\u0435 \u0441\u0432\u043e\u0435 \u0438\u043c\u044f, \u0447\u0442\u043e\u0431\u044b \u043e\u0441\u0442\u0430\u0432\u0438\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439.",
			"comment_post_error": "\u0421\u043e\u0436\u0430\u043b\u0435\u0435\u043c, \u043d\u043e \u0432\u043e \u0432\u0440\u0435\u043c\u044f \u043f\u0443\u0431\u043b\u0438\u043a\u0430\u0446\u0438\u0438 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u044f \u0432\u043e\u0437\u043d\u0438\u043a\u043b\u0430 \u043e\u0448\u0438\u0431\u043a\u0430. \u041f\u043e\u043f\u0440\u043e\u0431\u0443\u0439\u0442\u0435 \u0435\u0449\u0435 \u0440\u0430\u0437.",
			"comment_approved": "\u0412\u0430\u0448 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u0431\u044b\u043b \u043e\u0434\u043e\u0431\u0440\u0435\u043d.",
			"comment_unapproved": "\u0412\u0430\u0448 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u043e\u0436\u0438\u0434\u0430\u0435\u0442 \u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0438.",
			"camera": "\u041a\u0430\u043c\u0435\u0440\u0430",
			"aperture": "\u0410\u043f\u0435\u0440\u0442\u0443\u0440\u0430",
			"shutter_speed": "\u0412\u044b\u0434\u0435\u0440\u0436\u043a\u0430",
			"focal_length": "\u0414\u043b\u0438\u043d\u0430 \u0424\u043e\u043a\u0443\u0441\u0430",
			"copyright": "\u0410\u0432\u0442\u043e\u0440\u0441\u043a\u0438\u0435 \u043f\u0440\u0430\u0432\u0430",
			"comment_registration": "0",
			"require_name_email": "0",
			"login_url": "http:\/\/www.profibeton.com.ua\/wp-login.php?redirect_to=http%3A%2F%2Fwww.profibeton.com.ua%2F",
			"blog_id": "1",
			"meta_data": ["camera", "aperture", "shutter_speed", "focal_length", "copyright"],
			"local_comments_commenting_as": "<fieldset><label for=\"email\">E-mail<\/label> <input type=\"text\" name=\"email\" class=\"jp-carousel-comment-form-field jp-carousel-comment-form-text-field\" id=\"jp-carousel-comment-form-email-field\" \/><\/fieldset><fieldset><label for=\"author\">\u0418\u043c\u044f<\/label> <input type=\"text\" name=\"author\" class=\"jp-carousel-comment-form-field jp-carousel-comment-form-text-field\" id=\"jp-carousel-comment-form-author-field\" \/><\/fieldset><fieldset><label for=\"url\">\u0421\u0430\u0439\u0442<\/label> <input type=\"text\" name=\"url\" class=\"jp-carousel-comment-form-field jp-carousel-comment-form-text-field\" id=\"jp-carousel-comment-form-url-field\" \/><\/fieldset>"
		};	
	</script>
	
	<script src="{% static 'js/jetpack-carousel.min.js' %}"></script>
	
	<script>eval(mod_pagespeed_e4RS6kP7P7);</script>
	<script>eval(mod_pagespeed_pEVviTUNWi);</script>
	<script>eval(mod_pagespeed_dlUYVx_Gnm);</script>
	
	<script type='text/javascript'>
		var bazz_ajax = {
			"url": "http:\/\/www.profibeton.com.ua\/wp-admin\/admin-ajax.php"
		};
		var bazz_options = {
			"currentLang": "RU",
			"bazz_in_russia": "0",
			"bazz_color_scheme": "#408080"
		};
	</script>
	
	<script type='text/javascript' src="{% static 'js/j5Cfz4Uc0e.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/e-201828.js' %}" async=async defer=defer></script>
	<script type='text/javascript'>
		_stq = window._stq || [];
		_stq.push(['view', {
			v: 'ext',
			j: '1:6.3.2',
			blog: '91800536',
			post: '2',
			tz: '3',
			srv: 'www.profibeton.com.ua'
		}]);
		_stq.push(['clickTrackerInit', '91800536', '2']);
	</script>
	
	<script type='text/javascript'>
		$("#calendar-1").ionCalendar({
			lang: "ru",                     // language
			sundayFirst: false,             // first week day
			years: "80",                    // years diapason
			format: "DD.MM.YYYY",           // date format
			onClick: function(date){        // click on day returns date
				console.log(date);
			}
		});
	</script>
	<!-- <script src="{% static 'js/r_text.js' %}"></script> -->