<!DOCTYPE html>
<html lang=ru-RU prefix="og: http://ogp.me/ns#">
<head>
	{% load static %} 
<!-- Global site tag (gtag.js) - Google Analytics -->
	<link rel=stylesheet href="{% static 'css/0YerLXi9It.css' %}" type="text/css" />
	<link rel=stylesheet href="{% static  'css/style_1.css' %}" type="text/css" />
	<link rel=stylesheet id=bazz_widget_style-css href="{% static 'css/1HS8d4rfnN.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=wpfront-scroll-top-css media=all  href="{% static 'css/style_2.css' %}" type="text/css" />
	<link rel=stylesheet id=dashicons-css href="{% static 'css/LT4V6Htg4t.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-google-fonts-css href="{% static 'fonts/h5p-font-awesome.min.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-google-fonts-css href="{% static 'css/fonts.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-font-awesome-css href="{% static 'css/n1E8OIuDJO.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-drop1-css href="{% static 'css/drop11.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-bx-slider-css href="{% static 'css/Pon4-8iSCB.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-nivo-lightbox-css href="{% static 'css/2DxNvaAgIT.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-animate-css href="{% static 'css/1TDYEoXvBa.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-woocommerce-css href="{% static 'css/muOzli8YmW.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-style-css href="{% static 'css/dG4UgKeQgk.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=accesspress-parallax-responsive-css href="{% static 'css/kGStvKRmX_.css' %}" type='text/css' media=all />
	
	<style id=jetpack_facebook_likebox-inline-css type='text/css'>
		.widget_facebook_likebox {
			overflow: hidden
		}
	</style>
	
	<link rel=stylesheet id=jetpack-widget-social-icons-styles-csshref="{% static 'css/style_3.css' %}" type='text/css' media=all />
	
	<link rel=stylesheet id=tf-compiled-options-mobmenu-css href="{% static 'css/7VT_FW2XKM.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=tf-google-webfont-dosis-css href="{% static 'css/fonts_2.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=addtoany-css href="{% static 'css/h8Ib5WNC03.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=cssmobmenu-icons-css href="{% static 'css/lqvaG_Grzw.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=rich-reviews-css href="{% static 'css/ewbMDsMRuH.css' %}" type='text/css' media=all />
	<link rel=stylesheet id=jetpack_css-css href="{% static 'css/JqlabetgPg.css' %}" type='text/css' media=all />
	
	<link rel=stylesheet href="{% static 'css/style_5.css' %}" type="text/css" media=all />
	
	
	<style type="text/css" id=custom-background-css>
		body.custom-background {
			background-image: url("{% static 'img/Concrete_background.jpeg.pagespeed.ce.u7G7nIs7RK.jpg'  %}");
			background-position: left top;background-size:auto;background-repeat:repeat;background-attachment:fixed
		}
	</style>
	
	<link rel=stylesheet href="{% static 'css/style_4.css' %}" type='text/css' media=all />		
	<link rel=stylesheet href="{% static 'css/JaDcENWne3.css' %}" type="text/css">	
		
	
	<link rel=stylesheet async href="{% static 'css/cf.JaDcENWne3.css' %}" type='text/css' media=all></script>
	
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-121049809-1');
	</script>
	
	<link rel=alternate hreflang=ua href="http://www.profibeton.com.ua/"/> <!-- ссылка на главную страницу -->
	
	<meta charset=UTF-8>
	
	<meta http-equiv=content-type content="text/html; charset=utf-8"/>
	<meta name=keywords content="доставка бетона" />
	<meta name=viewport content="width=device-width, initial-scale=1" />
	<!-- <link href='https://fonts.googleapis.com/css?family=Oswald:300'     rel='stylesheet' type='text/css'> -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"> -->
	
	<link rel='stylesheet prefetch' href="{% static 'css/fonts_3.css' %}" />
	<link rel=profile href="http://gmpg.org/xfn/11">
	<!--<link rel=pingback href="http://www.profibeton.com.ua/xmlrpc.php">-->
	<!--[if lt IE 9]>
		<script src="http://www.profibeton.com.ua/wp-content/themes/accesspress-parallax/js/html5shiv.js"></script>
	<![endif]-->
	<!-- <link rel="stylesheet"  	href="http://www.profibeton.com.ua/3reloader.css" 	 type="text/css"  > -->
	
	<script type="text/javascript" src="{% static 'js/Nl3dteqZGn.js' %}"></script>
	
	<title>ООО &quot;Профибетон&quot; &mdash; Купить Бетон в Броварах с Доставкой</title>
	<!-- This site is optimized with the Yoast SEO plugin v7.7.3 - https://yoast.com/wordpress/plugins/seo/ -->
	<meta name=description content="ООО &quot;Профибетон&quot; производитcтво и доставка бетона всех марок.
			А так же предоставляет ряд услуг таких как:услуги бетононасоса,доставка щебня,доставка песка,продажа строймусора,бетонные и цементные смеси"/>
	<link rel=canonical href="http://www.profibeton.com.ua/"/> <!-- ссылка на главную страницу -->
	<meta property=og:locale content=ru_RU />
	<meta property=og:type content=website />
	<meta property=og:title content="ООО &quot;Профибетон&quot; &mdash; Купить Бетон в Броварах с Доставкой"/>
	<meta property=og:description content="ООО &quot;Профибетон&quot; производитcтво и доставка бетона всех марок. 
			А так же предоставляет ряд услуг таких как:услуги бетононасоса,доставка щебня,доставка песка,продажа строймусора,бетонные и цементные смеси"/>
	<meta property=og:url content="http://www.profibeton.com.ua/"/> <!-- ссылка на главную страницу -->
	<meta property=og:site_name content="ПрофиБетон"/>
	<meta name=twitter:card content=summary_large_image />
	<meta name=twitter:description content="ООО &quot;Профибетон&quot; производитcтво и доставка бетона всех марок.
			А так же предоставляет ряд услуг таких как:услуги бетононасоса,доставка щебня,доставка песка,продажа строймусора,бетонные и цементные смеси"/>
	<meta name=twitter:title content="ООО &quot;Профибетон&quot; &mdash; Купить Бетон в Броварах с Доставкой"/>
	<meta name=twitter:image content="{% static 'img/maincar.jpg' %}"/>
	
	<script type='application/ld+json'>
		{
			 "@context": "https:\/\/schema.org",
			 "@type": "WebSite",
			 "@id": "#website",
			 "url": "http:\/\/www.profibeton.com.ua\/",
			 "name": "\u041f\u0440\u043e\u0444\u0438\u0411\u0435\u0442\u043e\u043d",
				 "potentialAction": {
					 "@type": "SearchAction",
					 "target": "http:\/\/www.profibeton.com.ua\/?s={search_term_string}",
					 "query-input": "required name=search_term_string"
				 }
		}
	</script>

	<script type='application/ld+json'>
		{
			"@context": "https:\/\/schema.org",
			"@type": "Organization",
			"url": "http:\/\/www.profibeton.com.ua\/",
			"sameAs": ["https:\/\/www.facebook.com\/ProfibetonBrovary\/"],
			"@id": "http:\/\/www.profibeton.com.ua\/#organization",
			"name": "\u041e\u041e\u041e \"\u041f\u0440\u043e\u0444\u0438\u0431\u0435\u0442\u043e\u043d\"",
			"logo": "http:\/\/www.profibeton.com.ua\/wp-content\/uploads\/mobilr.png"
		}
	</script>

	
	<!-- / Yoast SEO plugin. -->

	<link rel=dns-prefetch href='//s0.wp.com'/>
	<link rel=dns-prefetch href='//fonts.googleapis.com'/>
	<link rel=dns-prefetch href='//s.w.org'/>
	
	<!--  <link rel=alternate type="application/rss+xml" title="ПрофиБетон &raquo; Лента" href="http://www.profibeton.com.ua/feed/"/>  
	<link rel=alternate type="application/rss+xml" title="ПрофиБетон &raquo; Лента комментариев" href="http://www.profibeton.com.ua/comments/feed/"/> 
	
	<link rel=alternate type="application/rss+xml" title="ПрофиБетон &raquo; Лента комментариев к &laquo;Профибетон&raquo;" href="http://www.profibeton.com.ua/%d0%b1%d0%b5%d1%82%d0%be%d0%bd-%d0%b1%d1%80%d0%be%d0%b2%d0%b0%d1%80%d1%8b/feed/"/> -->

	<script type="text/javascript" src="{% static 'js/script_1.js' %}"></script>

		<!-- Inline jetpack_facebook_likebox -->
	<!--n2css-->
	
	<!-- Разобраться, что такое admin-ajax.php!!! -->
	<script type='text/javascript'>
		var SDT_DATA = {
			"ajaxurl": "http:\/\/www.profibeton.com.ua\/wp-admin\/admin-ajax.php",
			"siteUrl": "http:\/\/www.profibeton.com.ua\/",
			"pluginsUrl": "http:\/\/www.profibeton.com.ua\/wp-content\/plugins",
			"isAdmin": ""
		};
	</script>

	<script type='text/javascript' src="{% static 'js/pPCPAKkkss.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/uHWjK9FTbA.js' %}"></script>
	<script>
		eval(mod_pagespeed_mUhmJEi5Tr);
	</script>
	<script>
		eval(mod_pagespeed_944M1T9bg1);
	</script>
	<script type='text/javascript' src="{% static 'js/PErfu-_5AB.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/dMh_1Gf5EP.js' %}"></script>
	<link rel='https://api.w.org/' href="{% static 'js/wp-json.js'  %}"/>
	<link rel=EditURI type="application/rsd+xml" title=RSD href="http://www.profibeton.com.ua/xmlrpc.php?rsd"/> <!-- Что это!? -->
	<link rel=wlwmanifest type="application/wlwmanifest+xml" href="http://www.profibeton.com.ua/wp-includes/wlwmanifest.xml"/> <!-- Что это!? -->
	<meta name=generator content="WordPress 4.9.7"/>
	<link rel=shortlink href='https://wp.me/P6dbvO-2'/> <!-- Что это!? -->
	<link rel=alternate type="application/json+oembed" href='{% static "js/oembed.js"  %}'/>
	<link rel=alternate type="text/xml+oembed" href="{% static 'js/oembed.xml' %}"/>
	
	<script data-cfasync=false type='text/javascript' src="{% static 'js/a2a_config.js' %}"></script>

	<script type="text/javascript">
		var moreText="Read More";
		var lessText="Show Less";
		var excerptLength=150;
	</script>
	
	<link rel=dns-prefetch href='//v0.wordpress.com'/>
	
	<link type='image/png' rel=icon href=''/>
	
	<script>
		jQuery(document).ready(function($){wow=new WOW({offset:200})
		wow.init();});
	</script>
	
	<link rel=icon href="{% static 'img/Profi_ICO-144x144.png.pagespeed.ce.b2xC-f948y.png' %}" sizes=32x32 />
	<link rel=icon href="{% static 'img/Profi_ICO-200x200.png.pagespeed.ce.EznWtiolHA.png' %}" sizes=192x192 />
	<link rel=apple-touch-icon-precomposed href="{% static 'img/Profi_ICO-200x200.png.pagespeed.ce.EznWtiolHA.png' %}"/>
	<meta name=msapplication-TileImage content="{% static 'img/Profi_ICO.png' %}"/>
	
	<link rel=dns-prefetch href="{% static 'https://sinoptik.ua' %}">
	<link rel=dns-prefetch href="{% static 'https://ru.wordpress.com' %}">
	
	<script data-pagespeed-no-defer src="{% static 'js/script_2.js' %}"></script>
</head>

<body class="home page-template-default page page-id-2 custom-background columns-3 mob-menu-slideout-over elementor-default">
	<div id=page class="hfeed site">
		<header id=masthead class=logo-side>
			<div class="mid-content clearfix">
				<div id=site-logo>
					<a href="http://www.profibeton.com.ua/" rel=home> <!-- ссылка на главную страницу -->
					
						<script data-pagespeed-no-defer type='text/javascript' src='{% static "js/a2a_config.js" %}'></script>	
						<img src="{% static 'img/2Profi_Logo_new_Tel-1024x86-2.png.pagespeed.ce.yApLTgM1TG.png' %}" alt="ПрофиБетон" />
					</a>
				</div>
				<!-- #site-navigation -->
				<nav class=n1>
					<div class=menus>
						<ul class=cleara>
							<li class=l1>
								<a class=a1 href="http://profibeton.com.ua/" title="Главная"> <!-- ссылка на главную страницу -->
									<i class="fa fa-home" aria-hidden=true></i>
									<span class=link-text>Главная</span>
								</a>
							</li>
							<li class=l1>
								<a class=a1 href="http://profibeton.com.ua/услуги/" title="Услуги"> <!-- ссылка на страницу "Услуги" -->
									<i class="fa fa-lightbulb-o" aria-hidden=true></i>
									<span class=link-text>Услуги</span>
								</a>
							</li>
							<li class=l1>
								<a class=a1 href="http://profibeton.com.ua/доставка_бетона/" title="Доставка"> <!-- ссылка на страницу "Доставка" -->
									<i class="fa fa-car" aria-hidden=true></i>
									<span class=link-text>Доставка</span>
								</a>
							</li>
							<li class=l1>
								<a class=a1 href="http://profibeton.com.ua/цены/" title="Цены"> <!-- ссылка на страницу "Цены" -->
									<i class="fa fa-money" aria-hidden=true></i>
									<span class=link-text1>Цены</span>
								</a>
							</li>
							<li class=l1>
								<a class=a1 href="http://profibeton.com.ua/обьекты/" title="Обьекты"> <!-- ссылка на страницу "Обьекты" -->
									<i class="fa fa-object-group" aria-hidden=true></i>
									<span class=link-text>Обьекты</span>
								</a>
							</li>
							<li class=l1>
								<a class=a1 href="http://profibeton.com.ua/партнеры/" title="Партнери"> <!-- ссылка на страницу "Партнери" -->
									<i class="fa fa-group" aria-hidden=true></i>
									<span class=link-text>Партнеры</span>
								</a>
							</li>
							<li class=l1>
								<a class=a1 href="http://profibeton.com.ua/отзывы/" title="Отзывы"> <!-- ссылка на страницу "Отзывы" -->
									<i class="fa fa-commenting" aria-hidden=true></i>
									<span class=link-text>Отзывы</span>
								</a>
							</li>
							<li class=l1>
								<a class=a1 href="http://www.profibeton.com.ua/%D1%84%D0%BE%D1%82%D0%BE/" title="Галерея"> <!-- ссылка на страницу "Галерея" -->
									<i class="fa fa-photo" aria-hidden=true></i>
									<span class=link-text>Галерея</span>
								</a>
							</li>
							<li class=l1>
								<a class=a1 href="http://profibeton.com.ua/контакты/" title="Контакты"> <!-- ссылка на страницу "Контакты" -->
									<i class="fa fa-phone" aria-hidden=true></i>
									<span class=link-text2>Контакты</span>
								</a>
							</li>
							<li class=l1>
								<a class=a1 href="http://profibeton.com.ua/работа_в_профибетон/" title="Вакансии"> <!-- ссылка на страницу "Вакансии" -->
									<i class="fa fa-briefcase" aria-hidden=true></i>
									<span class=link-text2>Вакансии</span>
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class=social-icons>
			</div>
			<script>
				jQuery(document).ready(function($) {
					$(window).resize(function() {
						var socialHeight = $('.social-icons').outerHeight();
						$('.social-icons').css('margin-top', -(socialHeight / 2));
					}).resize();
				});
			</script>
		</header>

		<div class="mid-content clearfix">
			<div id=primary class=content-area>
				<main id=main class=site-main role=main>
					<article id=post-2 class="post-2 page type-page status-publish has-post-thumbnail hentry">
						<header class=entry-header>
							<h1 class=entry-title>Профибетон</h1>
						</header><!-- .entry-header -->
						<div class=entry-content>
							<h1>
								ООО &#171;Профибетон&#187; Производство и Доставка Бетона в Бровары, Чернигов,
								Борисполь, Броварской и Бориспольский р-н, Киев &#8212; Левый берег
							</h1>
							<p style="text-align: left;">
								Компания &#171;Профибетон&#187; производcтво и доставка бетона всех марок. 
								А так же предоставляет ряд услуг таких как:услуги бетононасоса,доставка щебня,
								доставка песка,продажа строймусора,бетонные и цементные смеси.Среди всех 
								строительных материалов бетон от Профибетон занимает особенное место. 
								Бетон является основой всех современных технологий в строительстве. 
								Любого рода строительство не осуществляется без использования бетона и бетонных
								смесей, потому что он является наиболее прочным из всех строительных материалов.
							</p>
							<h2 style="text-align: center;">Производство Бетона</h2>
							<p>
								<a href="img/Profi.jpg">
									<img data-attachment-id=1087 src="{% static 'img/Profi.jpg' %}" data-permalink="{% static 'img/Profi.jpg' %}" data-orig-file="{% static 'img/Profi.jpg' %}" data-orig-size="319,319" data-image-title="Бетон" data-image-description="" data-medium-file="{% static 'img/Profi-300x300.jpg' %}" data-large-file="{% static 'img/Profi.jpg' %}" class="alignleft wp-image-1087" title="профибетон" data-pagespeed-lazy-src="{% static 'img/Profi.jpg.pagespeed.ce.1Fn1amwJhw.jpg' %}" alt="профибетон" width=300 height=300 data-pagespeed-lazy-srcset="img/Profi.jpg 319w, img/Profi-200x200.jpg 200w, img/Profi-300x300.jpg 300w, img/Profi-144x144.jpg 144w" sizes="(max-width: 300px) 100vw, 300px" data-pagespeed-url-hash=3150159609  onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);" onerror="this.onerror=null; pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"/>
								</a>
							</p>
							<p style="text-align: left;">
								ООО <strong>Профибетон</strong> &#8212; это <strong>бетонный завод</strong>, введенный в эксплуатацию весной 2010 года.
								Основная задача предприятия &#8212; 
								<em><strong>производство и доставка бетона в Бровары и Броварской район, 
								Борисполь и Бориспольский р-н, а также Козелец, Остер, Калиновка, Бобровица</strong></em>
								и другие населенные пункты <strong>Киевской области</strong>. <strong><em>Бетонный завод Профибетон</em></strong>
								оборудован современным европейским узлом, с мощными лопастными смесительными установками, которые позволяют изготовить
								смеси и растворы, различные марки бетона. Высокая степень автоматизации производственного процесса приготовления 
								<em>бетонных смесей</em> оснащена электронной системой взвешивания, дозирования и подачи всех компонентов <em>готового бетон</em>а.
							</p>
							<h3 style="text-align: center;">Преимущества Бренда Профибетон</h3>
							<p style="text-align: left;">
								Предприятие<strong> Профибетон</strong> производит <strong><em>бетон</em> </strong>и
								<em><strong>бетонные растворы</strong></em> широкого спектра <em>марок</em>. 
								Важной особенностью является производство <em>специальных бетонов</em> с повышенными показателями
								<em>морозоустойчивости, сульфатостойкости и водонепроницаемости</em>. Наличие таких характеристик
								достигается благодаря использованию современных технологий и применению высокоэффективных добавок. 
								Благодаря наличию в составе отопительных котлов имеется возможность подогрева материалов, воды и других
								компонентов, необходимых для производства
								<span style="text-decoration: underline;">
									<em><strong>бетона в зимний период</strong></em>
								</span>
								, который еще называют 
								<span style="text-decoration: underline;">
									<em><strong>зимний бетон</strong></em>
								</span>
								или
								<span style="text-decoration: underline;">
									<em><strong>морозостойкий бетон</strong></em>
								</span>
								<br/>
								<em>Бетонный завод <strong>Профибетон</strong></em> работает круглосуточно и производит 120<strong> м³ бетона</strong>
								(<em><strong>куб бетона</strong></em>) в час.
								<br/>
								Производственные мощности <strong>бетонного завода</strong> позволяют обеспечить круглосуточную отгрузку бетона даже
								в выходные и праздничные дни.
								<br/>
								Два независимых узла дает возможность не прервать процесс заливки в случае поломки, с возможностью мгновенного перехода
								с одной <b>марки бетона</b> на другую.
							</p>
							<h3 style="text-align: center;">Качественный Бетон</h3>
							<p style="text-align: left;">
								<strong>     Бетон </strong>производства<strong> Профибетон</strong>, является высококачественным, 
								что подтверждается сертификатом качества. Контроль <em>качества бетона</em>, <em>бетонных смесей</em>
								и <em>цементных растворов</em> производится собственной высокотехнологичной лабораторией <strong>ООО Профибетон</strong>,
								а также независимой лабораторией при <strong>КНУСиА</strong>
								(<a href="http://www.knuba.edu.ua/"><em>Киевский Национальный Университет Строительства и Архитектуры</em></a>).
							</p>
							<h3 style="text-align: center;">Доставка Бетона</h3>
							<p style="text-align: left;">
								<strong>     Доставка бетона</strong> осуществляется <strong>автобетоносмесителями</strong> (<em>миксерами</em>) объемом 7, 10, 11, 12 кубометров.
								<br/>
								ООО<strong> Профибетон</strong> предоставляет
								<a href="http://www.profibeton.com.ua/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8-%D0%B1%D0%B5%D1%82%D0%BE%D0%BD%D0%BE%D0%BD%D0%B0%D1%81%D0%BE%D1%81%D0%B0/">услуги автобетононасоса</a>,
								бетононасоса,
								<a href="http://www.profibeton.com.ua/%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8/%D0%BF%D1%80%D0%BE%D0%B4%D0%B0%D0%B6%D0%B0-%D0%B1%D0%B5%D1%82%D0%BE%D0%BD%D0%B0/">доставку бетонных смесей</a>
								по Киеву и Области.
								<br/>
								Место расположения <strong>производителя <em>Профибетон</em></strong> Калиновка Броварского р-на, поэтому 
								<a href="http://www.profibeton.com.ua/%D0%B4%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0_%D0%B1%D0%B5%D1%82%D0%BE%D0%BD%D0%B0/">
									<span style="color: #000080;"><strong>доставка бетона</strong> </span>
								</a>по маршрутам <strong>Бетон Киевская область</strong> <strong>Бетон Бровары</strong>
								дешевле, чем у перевозчиков или других производителей.
								<br/>
								Большой автопарк способен <b>доставить</b> <strong>бетон</strong> не только в пределах города, но и на объект,
								расположенный в нескольких часах езды миксера.
							</p>
							<p style="text-align: left;">
								<strong>     ООО «Профибетон»</strong> Использует только высококачественные инертные материалы, цемент марки 500,
								а также добавки помогающие бетону быть более пластичным и морозостойким. Весь состав бетона соответствует требованиям
								ДСТУ Б В.2.7-96-2000 и ДСТУ Б В.2.7-43-96 (строительные материалы и бетоны тяжелые). Каждая партия имеет сертификат
								качества и клиент в течении 28-ми дней имеет право выдвинуть претензии.
								<br/>
								В ассортимент услуг нашей компании входит не только производство бетонных смесей наивысшего качества,
								но и доставка продукции <strong>бетон бобровица</strong> в любые регионы Украины.
								Наш подход к выполнению и оформлению заказов разительно отличается от того, чем «радует» своих клиентов большинство
								производителей <strong>бетон козелец</strong>. Ведь никто ранее не ориентировался на сервис и качество европейских
								компаний в таком узкоспециализированном сегменте торговли строительными материалами.
							</p>
							<ul>
								<li>
									Во-первых, все типы смесей и марки <strong>бетон от Профибетон,</strong>
									имеющиеся в торговом ассортименте, изготавливаются на нашем собственном
									предприятии и имеют соответствующие сертификаты качества по государственным
									и международным стандартам.
								</li>
								<li>
									Во-вторых, <strong>бетон бровары</strong> поставляется точно в указанные сроки и имеет документ, подтверждающий подлинность
									и соответствие марки бетона заказанной позиции. Кроме этого, при получении заказа, у вас на руках остается товарно-транспортная
									накладная, в которой, как и в паспорте качества, фиксируется объем, расстояние доставки и номер машины.
								</li>
								<li>
									В-третьих, полноценная консультационная служба работает для вас в режиме 24/7 и позволяет сориентироваться в любой момент 
									по такой информации, как наличие <strong>бетон недорого</strong>, возможность доставки в определенные сроки и в определенное
									место, применимость определенных марок или типов смесей в конкретных строительных технологических операциях и рабочих процессах.
								</li>
							</ul>
							<p style="text-align: left;">
								Мы работаем только с качественным бетоном<strong>,</strong> и это позволяет оттачивать свое мастерство до совершенства в
								пределах данной узкой сферы бизнеса. То есть, с нами все всегда проходит гладко, без накладок по времени, товар приходит именно тот,
								который вы заказываете. Последний проходит несколько ступеней проверки, начиная с этапа производства и, заканчивая, контролем качества
								и доставкой клиенту.
								<br/>
								<strong>Бетон козелец</strong> и другие бетонные смеси, керамзитобетон, различные бетонные растворы – все это составляет
								постоянно обновляющийся, один из наиболее широких в Украине, ассортимент нашей компании.
								<br/>
								Кроме вышеописанных преимуществ работы именно с нами, вас может заинтересовать возможность проверки привезенного товара
								прямо на месте выгрузки. При возникновении любых сомнений в том, что вам привезли не тот материал, вы можете позвонить в
								наш контакт-центр и сопоставить данные из паспорта качества <strong>бетон остер</strong> с данными по своей заявке.
							</p>
							<h3 style="text-align: center;">Стоимость бетона</h3>
							<p style="text-align: left;">
								<a href="http://www.profibeton.com.ua/цены/">
									Стоимость <strong>бетон бровары</strong>
								</a> 
								формируется исходя из предоставленной вами информации по необходимому объему, марке, месту доставки и целевому 
								предназначению материала. Применение определенных типов смесей лучше сразу обсуждать с менеджером, так как, например,
								для заливки монолитного фундамента высотного дома, вам, скорее всего, понадобится высококачественный специальный <strong>
								бетон недорого,</strong> а для заливки подъезда подойдет стандартный материал и, возможно, доставленный в готовом виде на
								автобетоносмесителе.
							</p>
							<p style="text-align: left;">
								Работа с готовым <strong>бетон бобровица</strong> и спецтехникой требует отдельного описания. 
								Стоимость доставки готовых смесей автобетоносмесителем на объект формируется по соотношению объема в куб. метрах и километража.
								Таблицу цен на такой <strong>бетон козелец</strong> и другую продукцию нашей компании вы всегда можете найти в прайс-листах у нас на сайте.
								<br/>
								Отдельно также хотелось бы выделить широким выбором специальных смесей <strong>бетон остер</strong>,
								которые позволяют выполнять наиболее узкоспециализированные строительные заказы, а также приемлемую стоимость
								последних именно у нас. Достигается такой результат благодаря собственному производству <strong>бетон бровары</strong>
								и использованию современных промышленных технологий.
								<br/>
								Относительно новый маршрут <strong>бетон борисполь</strong> &#8212; это <em>доставка бетона в Борисполь</em>
								и другие города этого райцентра, таким образом, данный маршрут можно назвать &#8212; <strong>бетон Бориспольский район</strong>.
								<br/>
								Мы также можем доставить по маршруту <strong>бетон Киев</strong> &#8212; это <em>доставка бетона в Киев </em> 
								Левого берега, а именно &#8212; <strong>бетон Деснянский, Днепровский, Дарницкий район</strong>.
								<br/>
								Таким образом, если вам нужен <strong>бетон недорого</strong>, и вы не хотите тратить свое время и нервы на
								ненадежных поставщиков – звоните к нам и все ваши вопросы разрешатся. Телефон контакт-центра: <strong>(096) 820-90-88</strong>.
							</p>
							<div class="addtoany_share_save_container addtoany_content addtoany_content_bottom">
								<div class=addtoany_header>Поделиться:</div>
								<div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="http://www.profibeton.com.ua/" data-a2a-title="Профибетон">
									<a class=a2a_button_facebook href="#" title=Facebook rel="nofollow noopener" target=_blank></a>
									<a class=a2a_button_google_plus href="#" title="Google+" rel="nofollow noopener" target=_blank></a>
									<a class=a2a_button_twitter href="#" title=Twitter rel="nofollow noopener" target=_blank></a>
								</div>
							</div>
						</div><!-- .entry-content -->
						<footer class=entry-footer>
						</footer><!-- .entry-footer -->
					</article><!-- #post-## -->
					<div id=comments class=comments-area>
						<div id=respond class=comment-respond>
							<h3 id=reply-title class=comment-reply-title>Добавить комментарий 
								<small><a rel=nofollow id=cancel-comment-reply-link href="/#respond" style="display:none;">Отменить ответ</a></small>
							</h3>	
							<form action="#" method=post id=commentform class=comment-form novalidate>
								<p class=comment-notes>
									<span id=email-notes>Ваш e-mail не будет опубликован.</span>
								</p>
								<p class=comment-form-comment>
									<label for=comment>Комментарий</label>
									<textarea id=comment name=comment cols=45 rows=8 maxlength=65525 required=required></textarea>
								</p>
								<p class=comment-form-author>
									<label for=author>Имя</label> 
									<input id=author name=author type=text value="" size=30 maxlength=245 />
								</p>
								<p class=comment-form-email>
									<label for=email>E-mail</label> 
									<input id=email name=email type=email value="" size=30 maxlength=100 aria-describedby=email-notes />
								</p>
								<p class=comment-form-url>
									<label for=url>Сайт</label>
									<input id=url name=url type=url value="" size=30 maxlength=200 />
								</p>
								<p class=comment-form-cookies-consent>
									<input id=wp-comment-cookies-consent name=wp-comment-cookies-consent type=checkbox value=yes />
									<label for=wp-comment-cookies-consent>Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.</label>
								</p>
								<p class=form-submit>
									<input name=submit type=submit id=submit class=submit value="Отправить комментарий"/>
									<input type=hidden name=comment_post_ID value=2 id=comment_post_ID />
									<input type=hidden name=comment_parent id=comment_parent value=0 />
								</p>	
							</form>
						</div><!-- #respond -->
					</div><!-- #comments -->
				</main><!-- #main -->
			</div><!-- #primary -->
			<div id=secondary class=widget-area role=complementary>
				<aside id=black-studio-tinymce-3 class="widget widget_black_studio_tinymce">
					<h2 class=widget-title>
						<span>Услуги</span>
					</h2>
					<div class=textwidget>
						<nav class=btn2>
							<ul>
								<li>
									<a href="http://www.profibeton.com.ua/доставка_бетона/">Доставка бетона</a>
								</li>
								<li>
									<a href="http://www.profibeton.com.ua/услуги/продажа-бетона/">Бетонные смеси</a>
								</li>
								<li>
									<a href="http://www.profibeton.com.ua/услуги/цемент/">Цементные смеси</a>
								</li>
								<li>
									<a href="http://www.profibeton.com.ua/услуги/продажа-песка/">Продажа песка</a>
								</li>
								<li>
									<a href="http://www.profibeton.com.ua/услуги/продажа-щебня/">Продажа щебня</a>
								</li>
								<li>
									<a href="http://www.profibeton.com.ua/жби/">ЖБИ</a>
								</li>
								<li>
									<a href="http://www.profibeton.com.ua/услуги/услуги-бетононасоса/">Услуги бетононасоса</a>
								</li>
								<li>
									<a href="http://www.profibeton.com.ua/заказать_бетон/">Заказать бетон</a>
								</li>
								<li>
									<a href="http://www.profibeton.com.ua/заказать_цементный_раствор/">Заказать цементный раствор</a>
								</li>
							</ul>
						</nav>
					</div>
				</aside>
				<aside id=facebook-likebox-4 class="widget widget_facebook_likebox">
					<h2 class=widget-title>
						<span><a href="https://www.facebook.com/ProfibetonBrovary/">ООО &#171;ПрофиБетон&#187; в Facebook-Подписывайтесь на станичку</a></span>
					</h2>	
					<div id=fb-root></div>
					<div class=fb-page data-href="#" data-width=340 data-height=520 data-hide-cover=false data-show-facepile=true data-show-posts=true>
					<div class=fb-xfbml-parse-ignore>
						<blockquote cite="#">
							<a href="#">ООО &#171;ПрофиБетон&#187; в Facebook-Подписывайтесь на станичку</a>
						</blockquote>
					</div>
				</div>
				</aside>
				<aside id=calendar-3 class="widget widget_calendar">
					<h2 class=widget-title>
						<span>Календарь</span>
					</h2>
					<div id=calendar_wrap class=calendar_wrap>
						Здесь должен быть календарь
					</div>
				</aside>
				<aside id=black-studio-tinymce-5 class="widget widget_black_studio_tinymce">
					<h2 class=widget-title>
						<span>Погода</span>
					</h2>
					<div class=textwidget>
						<div id=SinoptikInformer class="SinoptikInformer type1c1" style="width: auto;">
							
							<div class=siBody>
								Погодный плагин
							</div>
							<div class=siFooter>
								<div class=siLf>
									<div class=siMf></div>
								</div>
							</div>
						</div>
						<p>
							<script type="text/javascript" data-pagespeed-no-defer>
								pagespeed.lazyLoadImages.overrideAttributeFunctions();
							</script>
			
							<!-- <script type="text/javascript" charset=UTF-8 src="//sinoptik.ua/informers_js.php?title=4&amp;wind=3&amp;cities=303002317&amp;lang=ru"></script>-->
						</p>
					</div>
				</aside>
				<aside id=search-3 class="widget widget_search">
					<h2 class=widget-title><span>Что ищем?</span></h2>
					<form role=search method=get class=search-form action="#">
						<label>
							<span class=screen-reader-text>Найти:</span>
							<input type=search class=search-field placeholder="Поиск&hellip;" value="" name=s />
						</label>
						<input type=submit class=search-submit value="Поиск"/>
					</form>
				</aside>
			</div>
		</div><!-- #secondary -->
	</div><!-- #content -->
	<footer id=colophon class=site-footer>
		<div class=bottom-footer>
			<div class="mid-content clearfix">
				<div class=copy-right>
					&copy; 2018 ПрофиБетон	
				</div><!-- .copy-right -->
				<div class=site-info>
					<!-- Design by <a href="http://www.moycomp.kiev.ua/" title="MoyComp.Kiev.ua" target="_blank">МойКомп</a> -->
				</div><!-- .site-info -->
			</div>
		</div>
	</footer><!-- #colophon  -->
	<div class=mobmenu-overlay></div>
	<div class="mob-menu-header-holder mobmenu" data-menu-display=mob-menu-slideout-over>
		<div class=mobmenul-container>
			<a href="#" class=mobmenu-left-bt>
				<i class="mob-icon-menu-outline mob-menu-icon"></i>
				<i class="mob-icon-cancel mob-cancel-button"></i>
				<span class=left-menu-icon-text>Меню</span>
			</a>
		</div>
	    
	</div>

	<div class=bazz-widget>
		<div class=bazz-widget-button>
			<i></i>
			<i><div>Заказать звонок</div></i>
		</div>
		<div class=bazz-widget-close>+</div>
		<div class=bazz-widget-form>
			<div class=bazz-widget-form-top>
				<label>
					Перезвоним <a href="javascript:void(0);" class=bazz-widget-your-name> Вам</a>
					за 00:<span class=bazz_time>60</span>
					секунд!	
				</label>
				<input type=text value="http://www.profibeton.com.ua/wp-content/plugins/bazz-callback-widget" id=plugin-url hidden />
				<input id=bazz-widget-phone name=bazz-widget-phone value="" type=tel placeholder="Номер телефона"/>
				<a href="javascript:void(0);" class=bazz-widget-form-submit>Жду звонка!</a>
				<div class=bazz-widget-form-info></div>
			</div>
			<div class=bazz-widget-form-bottom>
				<label>Представьтесь, и мы будем обращаться по имени</label>
				<input id=bazz-widget-name class=grey-placeholder name=bazz-widget-name value="" type=text placeholder="Введите Ваше имя"/>
				<a href="javascript:void(0);" class=bazz-widget-name-close></a>
			</div>
		</div>
		<div class=bazz-widget-inner-circle></div>
		<div class=bazz-widget-inner-border></div>
	</div>
	<div id=wpfront-scroll-top-container>
		<img src="{% static 'img/103.png.pagespeed.ce.WQIxGbxUpV.png' %}" alt="" data-pagespeed-url-hash=2037996856 onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);" onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"/>
	</div>
	
	<script type="text/javascript">
		function wpfront_scroll_top_init() {
				if (typeof wpfront_scroll_top == "function" && typeof jQuery !== "undefined") {
					wpfront_scroll_top({
						"scroll_offset": 400,
						"button_width": 0,
						"button_height": 0,
						"button_opacity": 0.8,
						"button_fade_duration": 200,
						"scroll_duration": 400,
						"location": 1,
						"marginX": 20,
						"marginY": 20,
						"hide_iframe": false,
						"auto_hide": false,
						"auto_hide_after": 2,
						"button_action": "top",
						"button_action_element_selector": "",
						"button_action_container_selector": "html, body",
						"button_action_element_offset": 0
					});
				} else {
					setTimeout(wpfront_scroll_top_init, 100);
				}
			}
			wpfront_scroll_top_init();
	</script>
	<div style=display:none>
	</div>
	<!--[if lte IE 8]>
	<link rel='stylesheet' id='jetpack-carousel-ie8fix-css'  href='http://www.profibeton.com.ua/wp-content/plugins/jetpack/modules/carousel/jetpack-carousel-ie8fix.css?ver=20121024' type='text/css' media='all' />
	<![endif]-->
	<script type='text/javascript' src="{% static 'js/devicepx-jetpack.js' %}"></script>

	<script src="{% static 'js/wpfront-scroll-top.js' %}"></script>
	<script>eval(mod_pagespeed_2fHhcHcPRg);</script>

	<script>eval(mod_pagespeed_1Iq7PBwwm$);</script>
	<script>eval(mod_pagespeed_tCneOvpcqF);</script>
	<script>eval(mod_pagespeed_wJN_ts1n17);</script>
	<script>eval(mod_pagespeed_rMmVRntGtu);</script>
	<script>eval(mod_pagespeed_lCqmE6slai);</script>
	<script>eval(mod_pagespeed_LFHbwv$kHT);</script>
	<script>eval(mod_pagespeed_YuOv17FdqL);</script>
	<script>eval(mod_pagespeed_VilBP0YxSc);</script>
	
	<script type='text/javascript' src="{% static 'js/jquery.fitvids.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/nivo-lightbox.min.js' %}"></script>
	
	<script>eval(mod_pagespeed_Mh5$RwNWQD);</script>
	<script>eval(mod_pagespeed_8qgpUgRrer);</script>
	<script>eval(mod_pagespeed_DAqHivbFBG);</script>
	
	<script type='text/javascript'>
		var jpfbembed={"appid":"249643311490","locale":"ru_RU"};
	</script>
	
	<script type='text/javascript' src="{% static 'js/wp-embed.min.js' %}"></script>
	
	<script>eval(mod_pagespeed_bLI$rXsMt3);</script>
	<script>eval(mod_pagespeed_pHibJvqcla);</script>
	<script>eval(mod_pagespeed_ds7RGCxNBl);</script>
	<script>eval(mod_pagespeed_WPRrB_sL2C);</script>
	
	<script type='text/javascript'>
		var jetpackCarouselStrings = {
			"widths": [370, 700, 1000, 1200, 1400, 2000],
			"is_logged_in": "",
			"lang": "ru",
			"ajaxurl": "http:\/\/www.profibeton.com.ua\/wp-admin\/admin-ajax.php",
			"nonce": "b3f2f3e95b",
			"display_exif": "1",
			"display_geo": "1",
			"single_image_gallery": "1",
			"single_image_gallery_media_file": "",
			"background_color": "white",
			"comment": "\u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
			"post_comment": "\u041e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439",
			"write_comment": "\u041e\u043f\u0443\u0431\u043b\u0438\u043a\u043e\u0432\u0430\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439...",
			"loading_comments": "\u0417\u0430\u0433\u0440\u0443\u0436\u0430\u044e\u0442\u0441\u044f \u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0438... ",
			"download_original": "\u041f\u043e\u0441\u043c\u043e\u0442\u0440\u0435\u0442\u044c \u0432 \u043f\u043e\u043b\u043d\u043e\u043c \u0440\u0430\u0437\u043c\u0435\u0440\u0435 <span class=\"photo-size\">{0}<span class=\"photo-size-times\">\u00d7<\/span>{1}<\/span>",
			"no_comment_text": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430, \u043d\u0430\u043f\u0438\u0448\u0438\u0442\u0435 \u0442\u0435\u043a\u0441\u0442 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u044f.",
			"no_comment_email": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430, \u0443\u043a\u0430\u0436\u0438\u0442\u0435 \u0430\u0434\u0440\u0435\u0441 \u044d\u043b. \u043f\u043e\u0447\u0442\u044b, \u0447\u0442\u043e\u0431\u044b \u043e\u0441\u0442\u0430\u0432\u0438\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439.",
			"no_comment_author": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430, \u0443\u043a\u0430\u0436\u0438\u0442\u0435 \u0441\u0432\u043e\u0435 \u0438\u043c\u044f, \u0447\u0442\u043e\u0431\u044b \u043e\u0441\u0442\u0430\u0432\u0438\u0442\u044c \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439.",
			"comment_post_error": "\u0421\u043e\u0436\u0430\u043b\u0435\u0435\u043c, \u043d\u043e \u0432\u043e \u0432\u0440\u0435\u043c\u044f \u043f\u0443\u0431\u043b\u0438\u043a\u0430\u0446\u0438\u0438 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u044f \u0432\u043e\u0437\u043d\u0438\u043a\u043b\u0430 \u043e\u0448\u0438\u0431\u043a\u0430. \u041f\u043e\u043f\u0440\u043e\u0431\u0443\u0439\u0442\u0435 \u0435\u0449\u0435 \u0440\u0430\u0437.",
			"comment_approved": "\u0412\u0430\u0448 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u0431\u044b\u043b \u043e\u0434\u043e\u0431\u0440\u0435\u043d.",
			"comment_unapproved": "\u0412\u0430\u0448 \u043a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u043e\u0436\u0438\u0434\u0430\u0435\u0442 \u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0438.",
			"camera": "\u041a\u0430\u043c\u0435\u0440\u0430",
			"aperture": "\u0410\u043f\u0435\u0440\u0442\u0443\u0440\u0430",
			"shutter_speed": "\u0412\u044b\u0434\u0435\u0440\u0436\u043a\u0430",
			"focal_length": "\u0414\u043b\u0438\u043d\u0430 \u0424\u043e\u043a\u0443\u0441\u0430",
			"copyright": "\u0410\u0432\u0442\u043e\u0440\u0441\u043a\u0438\u0435 \u043f\u0440\u0430\u0432\u0430",
			"comment_registration": "0",
			"require_name_email": "0",
			"login_url": "http:\/\/www.profibeton.com.ua\/wp-login.php?redirect_to=http%3A%2F%2Fwww.profibeton.com.ua%2F",
			"blog_id": "1",
			"meta_data": ["camera", "aperture", "shutter_speed", "focal_length", "copyright"],
			"local_comments_commenting_as": "<fieldset><label for=\"email\">E-mail<\/label> <input type=\"text\" name=\"email\" class=\"jp-carousel-comment-form-field jp-carousel-comment-form-text-field\" id=\"jp-carousel-comment-form-email-field\" \/><\/fieldset><fieldset><label for=\"author\">\u0418\u043c\u044f<\/label> <input type=\"text\" name=\"author\" class=\"jp-carousel-comment-form-field jp-carousel-comment-form-text-field\" id=\"jp-carousel-comment-form-author-field\" \/><\/fieldset><fieldset><label for=\"url\">\u0421\u0430\u0439\u0442<\/label> <input type=\"text\" name=\"url\" class=\"jp-carousel-comment-form-field jp-carousel-comment-form-text-field\" id=\"jp-carousel-comment-form-url-field\" \/><\/fieldset>"
		};	
	</script>
	
	<script src="{% static 'js/jetpack-carousel.min.js' %}"></script>
	
	<script>eval(mod_pagespeed_e4RS6kP7P7);</script>
	<script>eval(mod_pagespeed_pEVviTUNWi);</script>
	<script>eval(mod_pagespeed_dlUYVx_Gnm);</script>
	
	<script type='text/javascript'>
		var bazz_ajax = {
			"url": "http:\/\/www.profibeton.com.ua\/wp-admin\/admin-ajax.php"
		};
		var bazz_options = {
			"currentLang": "RU",
			"bazz_in_russia": "0",
			"bazz_color_scheme": "#408080"
		};
	</script>
	
	<script type='text/javascript' src="{% static 'js/j5Cfz4Uc0e.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/e-201828.js' %}" async=async defer=defer></script>
	<script type='text/javascript'>
		_stq = window._stq || [];
		_stq.push(['view', {
			v: 'ext',
			j: '1:6.3.2',
			blog: '91800536',
			post: '2',
			tz: '3',
			srv: 'www.profibeton.com.ua'
		}]);
		_stq.push(['clickTrackerInit', '91800536', '2']);
	</script>
</body>
</html>