{% load static %}

<link rel=alternate hreflang=ua href="http://www.profibeton.com.ua/"/> <!-- ссылка на главную страницу -->
<link rel=profile href="http://gmpg.org/xfn/11">	

<link rel=canonical href="http://www.profibeton.com.ua/"/> <!-- ссылка на главную страницу -->

<link rel=dns-prefetch href='//s0.wp.com'/>
<link rel=dns-prefetch href='//fonts.googleapis.com'/>
<link rel=dns-prefetch href='//s.w.org'/>

<link rel='https://api.w.org/' href="{% static 'js/wp-json.js'  %}"/>
<link rel=EditURI type="application/rsd+xml" title=RSD href="http://www.profibeton.com.ua/xmlrpc.php?rsd"/> <!-- Что это!? -->
<link rel=wlwmanifest type="application/wlwmanifest+xml" href="http://www.profibeton.com.ua/wp-includes/wlwmanifest.xml"/> <!-- Что это!? -->

<link rel=shortlink href='https://wp.me/P6dbvO-2'/> <!-- Что это!? -->
<link rel=alternate type="application/json+oembed" href='{% static "js/oembed.js"  %}'/>
<link rel=alternate type="text/xml+oembed" href="{% static 'js/oembed.xml' %}"/>

<link rel=dns-prefetch href='//v0.wordpress.com'/>	
<link type='image/png' rel=icon href=''/>

<link rel=icon href="{% static 'img/Profi_ICO-144x144.png.pagespeed.ce.b2xC-f948y.png' %}" sizes=32x32 />
<link rel=icon href="{% static 'img/Profi_ICO-200x200.png.pagespeed.ce.EznWtiolHA.png' %}" sizes=192x192 />
<link rel=apple-touch-icon-precomposed href="{% static 'img/Profi_ICO-200x200.png.pagespeed.ce.EznWtiolHA.png' %}"/>