
{% load static %} 

<h2 class=widget-title>
	<span>Услуги</span>
</h2>
<div class=textwidget>
	<nav class=btn2>
		<ul>
			<li>
				<a href="http://www.profibeton.com.ua/доставка_бетона/">Доставка бетона</a>
			</li>
			<li>
				<a href="http://www.profibeton.com.ua/услуги/продажа-бетона/">Бетонные смеси</a>
			</li>
			<li>
				<a href="http://www.profibeton.com.ua/услуги/цемент/">Цементные смеси</a>
			</li>
			<li>
				<a href="http://www.profibeton.com.ua/услуги/продажа-песка/">Продажа песка</a>
			</li>
			<li>
				<a href="http://www.profibeton.com.ua/услуги/продажа-щебня/">Продажа щебня</a>
			</li>
			<li>
				<a href="http://www.profibeton.com.ua/жби/">ЖБИ</a>
			</li>
			<li>
				<a href="http://www.profibeton.com.ua/услуги/услуги-бетононасоса/">Услуги бетононасоса</a>
			</li>
			<li>
				<a href="http://www.profibeton.com.ua/заказать_бетон/">Заказать бетон</a>
			</li>
			<li>
				<a href="http://www.profibeton.com.ua/заказать_цементный_раствор/">Заказать цементный раствор</a>
			</li>
		</ul>
	</nav>
</div>