{% load static %} 

<link rel=stylesheet href="{% static 'css/0YerLXi9It.css' %}" type="text/css" />
<link rel=stylesheet href="{% static  'css/style_1.css' %}" type="text/css" />
<link rel=stylesheet id=bazz_widget_style-css href="{% static 'css/1HS8d4rfnN.css' %}" type='text/css' media=all />
<link rel=stylesheet id=wpfront-scroll-top-css media=all  href="{% static 'css/style_2.css' %}" type="text/css" />
<link rel=stylesheet id=dashicons-css href="{% static 'css/LT4V6Htg4t.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-google-fonts-css href="{% static 'fonts/h5p-font-awesome.min.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-google-fonts-css href="{% static 'css/fonts.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-font-awesome-css href="{% static 'css/n1E8OIuDJO.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-drop1-css href="{% static 'css/drop11.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-bx-slider-css href="{% static 'css/Pon4-8iSCB.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-nivo-lightbox-css href="{% static 'css/2DxNvaAgIT.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-animate-css href="{% static 'css/1TDYEoXvBa.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-woocommerce-css href="{% static 'css/muOzli8YmW.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-style-css href="{% static 'css/dG4UgKeQgk.css' %}" type='text/css' media=all />
<link rel=stylesheet id=accesspress-parallax-responsive-css href="{% static 'css/kGStvKRmX_.css' %}" type='text/css' media=all />

<style id=jetpack_facebook_likebox-inline-css type='text/css'>
	.widget_facebook_likebox {
		overflow: hidden
	}
</style>

<link rel=stylesheet id=jetpack-widget-social-icons-styles-csshref="{% static 'css/style_3.css' %}" type='text/css' media=all />
<link rel=stylesheet id=tf-compiled-options-mobmenu-css href="{% static 'css/7VT_FW2XKM.css' %}" type='text/css' media=all />
<link rel=stylesheet id=tf-google-webfont-dosis-css href="{% static 'css/fonts_2.css' %}" type='text/css' media=all />
<link rel=stylesheet id=addtoany-css href="{% static 'css/h8Ib5WNC03.css' %}" type='text/css' media=all />
<link rel=stylesheet id=cssmobmenu-icons-css href="{% static 'css/lqvaG_Grzw.css' %}" type='text/css' media=all />
<link rel=stylesheet id=rich-reviews-css href="{% static 'css/ewbMDsMRuH.css' %}" type='text/css' media=all />
<link rel=stylesheet id=jetpack_css-css href="{% static 'css/JqlabetgPg.css' %}" type='text/css' media=all />
<link rel=stylesheet href="{% static 'css/style_5.css' %}" type="text/css" media=all />

<style type="text/css" id=custom-background-css>
	body.custom-background {
		background-image: url("{% static 'img/Concrete_background.jpeg.pagespeed.ce.u7G7nIs7RK.jpg'  %}");
		background-position: left top;background-size:auto;background-repeat:repeat;background-attachment:fixed
	}
</style>

<link rel=stylesheet href="{% static 'css/style_4.css' %}" type='text/css' media=all />		
<link rel=stylesheet href="{% static 'css/JaDcENWne3.css' %}" type="text/css">
<link rel=stylesheet async href="{% static 'css/cf.JaDcENWne3.css' %}" type='text/css' media=all></script>

<link rel='stylesheet prefetch' href="{% static 'css/fonts_3.css' %}" />

<link rel='stylesheet' href="{% static 'css/ion.calendar.css' %}" />

<link  rel='stylesheet' href="{% static 'css/galery.css' %}" type='text/css' />
<link  rel='stylesheet' href="{% static 'css/category.css' %}" type='text/css' />
<link  rel='stylesheet' href="{% static 'css/contacts.css' %}" type='text/css' />


